#amazon-products
  #search
    input#amazon-product-keyword type="text" value="#{params[:keyword]}"
    button#do-search type="submit" Submit

  table.table.table-bordered.table-striped
    thead
      tr
        td ASIN
        td Title
        td Author
        td DetailPageURL

    tbody
      - @products.each do |product|
        tr
          td = product['ASIN']
          td = product['ItemAttributes']['Title']
          td = product['ItemAttributes']['Author']
          td = product['DetailPageURL']



  ul.pagination.pull-right
    - (1..@page_numbers).each do |n|
      li class="#{(n == params[:page])? 'active': ''}"
        a.link data="#{n}" = n
